/* Styles for the container div */
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* left align */
}

/* Styles for the logo container */
.logo-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure the logo is above other content */
}

/* Styles for the logo image */
.logo {
  width: 100%; /* Make the logo fill the container horizontally */
  height: 100%; /* Make the logo fill the container vertically */
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  max-height: 100%; /* Ensure the image doesn't exceed its container height */
  display: block;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

/* Styles for the "who-we-are" content */
.who-we-are {
  text-align: left;
  padding-left: 50px; /* Adjust as needed to avoid overlap */
  margin-top: 120px; /* Add margin to create space below the logo */
  position: relative; /* Ensure the content is positioned below the logo */
}

/* Styles for the page title */
.title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0; /* Add margin for spacing */
}

/* Styles for the additional image */
.image {
  width: 50%; /* Adjust the width as needed */
  height: auto;
}