/* Styles for the container div */
.container {
  text-align: center; /* Center-align the content within the container */
}


/* Styles for the logo container */
.logo-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Increase the z-index to ensure the logo is above the image */
}

/* Styles for the logo image */
.logo {
  width: 100%; /* Make the logo fill the container horizontally */
  height: auto;
  display: block;
  transition: transform 0.2s ease-in-out;
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  max-height: 100%; /* Ensure the image doesn't exceed its container height */
}

.logo:hover {
  transform: scale(1.05);
}

/* Styles for the "who-we-are" content */
.who-we-are {
  text-align: justify; /* justify the main content within the container */
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally within the container */
}

/* Styles for the page title */
.title {
  text-align: center; /* Center-align the title text */
  margin-bottom: 20px; /* Add some spacing below the title */
}

/* Styles for the additional image */
.image {
  width: 50%; /* Adjust the width as needed */
  height: auto;
}
