/* styles.css */

:root {
  --primary-bg-color: #00bcb9; /* Primary background color */
  --text-color: #333; /* Text color */
}

html,
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.title {
  font-size: 24px; /* Adjust the font size as needed */
}

.logo {
  width: 200px; /* Adjust the logo width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the logo horizontally */
  display: block; /* Ensure it takes up the full width */
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0; /* Adjusted padding to move content up */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the content horizontally */
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  max-width: 1000px; /* Adjust the max-width to your preferred layout */
  margin: 0 auto;
  padding: 20px;
  text-align: left; /* Align text content to the left */
}
/* Dropdown menu button */
.dropdown-button {
  background-color: var(--primary-bg-color); /* Background color */
  color: var(--text-color); /* Text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px; /* Adjust margin as needed */
}

/* Dropdown menu */
.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Initially hide the menu */
  position: absolute;
  background-color: #fff; /* Menu background color */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu li {
  padding: 10px;
  text-align: center;
}

/* Show the menu when the button is clicked */
.dropdown:hover .dropdown-menu {
  display: block;
}
