/* styles.css */

:root {
  --primary-bg-color: #00bcb9; /* Primary background color */
  --text-color: #333; /* Text color */
}

html,
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.title {
  font-size: 45px; /* Adjust the font size as needed */
}

.logo {
  width: 500px; /* Adjust the logo width as needed */
  height: auto; /* Maintain aspect ratio */
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  max-width: 1000px; /* Adjust the max-width to your preferred layout */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}