/* styles.css */

:root {
  --primary-bg-color1: #f3f6f4;
  /*--primary-bg-color2: #ffeb3b;*/
  --text-color: #333;
}

html {
  font-size: 125%; /* This increases the base font size by 25%, making everything larger */
}

body {
  background-color: var(--primary-bg-color1); /* Use the variable for background color */
  font-family: 'Lato', sans-serif;
  /* Remove background gradient for now */
  /* background: linear-gradient(to right, var(--primary-bg-color1), var(--primary-bg-color2)); */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  /* Add styles for small screens here */
}

.container {
  max-width: 125%; /* Change "1000px" to "100%" */
  margin: 0 auto;
  text-align: center; /* Added a semicolon at the end */
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0; /* Add margin for spacing */
}

.logo {
  width: 350px; /* Make the logo 25% smaller */
  height: auto;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.LinkedInlogo {
  width: 100px; /* Make the logo 25% smaller */
  height: auto;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

/* Remove bullet points from the side nav and make it slimmer */
.dropdown-menu li {
  padding: 20px 0;
  text-align: center;
  list-style: none;
  margin-left: -10px;
}

/* Dropdown menu button */
.dropdown-button {
  background-color: var(--primary-bg-color1);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/*}.dropdown-button:hover {
  transform: scale(1.05);
} */

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show the menu when the button is clicked */
.dropdown:hover .dropdown-menu {
  display: block;
}

Button:hover {
  background-color: #06dee3; /* Change to the desired hover color */
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 10px; /* Added "px" to the left value */
  transform: translateX(-50%);
}

/* Apply justified text alignment to elements within the main content area */
.main-content p,
.main-content ul,
.main-content ol,
.main-content li,
.main-content h2 {
  text-align: justify;
}

/* Center align the content within the main content area */
.main-content > * {
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.logo-top-left {
  position: absolute;
  top: 20px;
  left: 10px; /* Added "px" to the left value */
  transform: translateX(0);
}

/* Centered content */
.centered-content {
  text-align: center;
}

/* Main content text alignment */
.main-content {
  text-align: left;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}
